<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-title no-border"></div>
  <%= form_for @record, :html=>{:class=>"form-no-horizontal-spacing class_date_validation"} do |f| %>
  <div class="grid-body no-border">
    <div id="errorbox" class="error_box" style="margin-left: 25px;">
      <%= render "shared/error_messages", :object=>@record %>
    </div>
    <h4 class="semi-bold">Comment</h4>
    <div class="form-row form-group">
      <div class="row ">
        <div class="col-md-6">
          <%= f.hidden_field :article_id, value: params[:article_id]%>
          <label class="form-label">Name<span class="asterik">*</span></label>
          <%= f.text_field :guest_name, :autofocus => true, :required=>true, :class=>"form-control"%>
        </div>
        <div class="col-md-6">
          <label class="form-label">E-Mail<span class="asterik">*</span></label>
          <%= f.text_field :guest_email, :autofocus => true, :required=>true, :class=>"form-control"%>
        </div>
      </div>
    </div>
    <div class="form-row form-group">
      <div class="row">
        <div class="col-md-12">
          <label class="form-label">Comment<span class="asterik">*</span></label>
          <%= f.text_area :comment, :class => 'ckeditor'%>
        </div>
      </div>
    </div>
    <div class="form-actions" data-no-turbolink>
      <div class="pull-right">
    <%= f.submit ["new", "create"].include?(params[:action]) ? 'Comment' : 'Update', class: "btn btn-success btn-cons", data: { disable_with: 'Saving...' } %>
        <%= link_to 'Cancel', comments_path, class: "btn btn-white btn-cons" %>
        </div>
        </div>
        </div>
    <% end %>
    </div>
    </div>
    </div>
