<!DOCTYPE html>
    <html>
    <head>
      <title>BlogIT</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true%>
      <%= csrf_meta_tags %>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta content="" name="description" />
      <meta content="" name="author" />
    </head>

    <body class="">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse" data-no-turbolink >
      <!-- BEGIN TOP NAVIGATION BAR -->
      <div class="navbar-inner">
        <div class="header-seperation">
          <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
            <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>
          </ul>
          <!-- BEGIN LOGO -->
          <a href="/articles">
            <%= image_tag("sp.jpg", :width=>"106", :class=>"logo", data: { src: "sp.jpg", src_retina: "sp.jpg" } )%>
          </a>
          <!-- END LOGO -->
          <ul class="nav pull-right notifcation-center">
            <li class="dropdown" id="header_task_bar"> <%= link_to '<div class="iconset top-home"></div>'.html_safe, articles_path %> </li>
          </ul>
        </div>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <div class="header-quick-nav" >
          <!-- BEGIN TOP NAVIGATION MENU -->
          <div class="pull-left">
            <ul class="nav quick-section">
            </ul>
          </div>
          <!-- END TOP NAVIGATION MENU -->
          <!-- BEGIN CHAT TOGGLER -->
          <div class="pull-right">
            <div class="chat-toggler">
              <a href="javascript:void(0)"class="" id="my-task-list" data-placement="bottom"  data-content='' data-toggle="" data-original-title="">
                <div class="user-details">
                  <div class="username">
                    <%= "Test"%> <span class="bold"><%=  "User"%> </span>
                  </div>
                </div>
                <!-- <div class="iconset top-down-arrow"></div> -->
              </a>
              <div class="profile-pic">
              </div>
            </div>
            <ul class="nav quick-section ">
              <li class="quicklinks">

                <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                  <li><%#= link_to "My Account", profile_users_path(:id=>current_user.id) %></li>
                  <li class="divider"></li>
                  <li><%#= link_to '<i class="fa fa-power-off"></i>&nbsp;&nbsp;'.html_safe + "Log Out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- END CHAT TOGGLER -->
        </div>
        <!-- END TOP NAVIGATION MENU -->
      </div>
      <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
      <!-- BEGIN SIDEBAR -->
      <div class="page-sidebar" id="main-menu" data-no-turbolink >
        <!-- BEGIN MINI-PROFILE -->
        <div class="user-info-wrapper">
          <div class="profile-wrapper">
            <%#= image_tag(current_user.photos.blank? ? 'missin.png' : current_user.photos(:thumb), :width=>"69", :height=>"69" )%>
          </div>
          <div class="user-info">
            <div class="greeting">Welcome</div>
            <div class="status"><a href="#"></a></div>
          </div>
        </div>
        <!-- END MINI-PROFILE -->
        <!-- BEGIN SIDEBAR MENU -->
        <ul>

          <li > <%= link_to 'Blogs', articles_path%>   </li>

          <li ><%= link_to 'Comments', comments_path%>  </li>

        </ul>

        <!-- END SIDEBAR MENU -->
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE CONTAINER-->
      <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="clearfix"></div>
        <div class="content">
          <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"> <%= value %>
                <button class="close" data-dismiss="alert"></button>
              </div>
          <% end %>
          <%=yield %>
        </div>
      </div>
    </div>
    </body>
    </html>

